# API
fastapi
uvicorn[standard]
python-multipart
pydantic-settings

# BD
sqlalchemy
psycopg-binary
psycopg2-binary
alembic

# Seguridad 
passlib[bcrypt]
python-jose[cryptography]

pydantic[email]
# RAG e IA
langchain
langchain-community
chromadb
pypdf

# Testing
pytest
httpx